<ion-header>
  <ion-toolbar>
    <ion-button color="medium" fill="outline" [routerLink]="['/folder/inbox']"><ion-icon name="caret-back"></ion-icon></ion-button>
    <ion-title>cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button detail="true">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="../../assets/icon/ñero.jpg" />
    </ion-avatar>
    <ion-label>
      Esteban Lobos
    </ion-label>
  </ion-item>
  <!-- salto de linea -->
  <br>
  <br>

  <ion-item button detail="true">
    <ion-label>
      <h3>Seguridad a la cuenta</h3>
      <p>Añadir un telefono para recuperar el Dispositivo</p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true">
    <ion-label>
      <h3>Ayuda</h3>
      <p>restablecer contraseña de la cuenta</p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true">
    <ion-label>
      <h3>Dispositivos</h3>
      <p>Detail set to true - detail arrow displays on both modes</p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true">
    <ion-label>
      <h3>Sobre la cuenta</h3>
    </ion-label>
  </ion-item>
</ion-content>
