<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Barajas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="dark">
    <img alt="Reina_Meve" src="../../assets/icon/Inspiración real by Anna Podedworna (1).jpg" width="226"/>
    <ion-card-header>
      <ion-card-title>Reina Meve</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Reina Meve', precio: '650', faccion: 'Reino del Norte', habilidad: 'Despliegue', imagen: '../../assets/icon/Inspiración real by Anna Podedworna (1).jpg'}">Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="geralt" src="../../assets/icon/Geralt de Rivia by Marek Madej.jpg">
    <ion-card-header>
      <ion-card-title>Geralt The Rivia</ion-card-title>
      <ion-card-subtitle>Brujo</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Geralt The Rivia', precio: '800', faccion: 'Normal', habilidad: 'Despliegue', imagen: '../../assets/icon/Geralt de Rivia by Marek Madej.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Palabra_Runica" src="https://gwent.one/img/assets/medium/art/1654.jpg">
    <ion-card-header>
      <ion-card-title>Palabra Runica</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Palabra Runica', precio: '1000', faccion: 'Reino del Norte', habilidad: 'Crear y Escudo', imagen: 'https://gwent.one/img/assets/medium/art/1654.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Erudita de Aretusa" src="../../assets/icon/Erudita de Aretusa by Grafit Studio.jpg">
    <ion-card-header>
      <ion-card-title>Erudita de Aretusa</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Erudita de Aretusa', precio: '1200', faccion: 'Reino del Norte', habilidad: 'paciencia', imagen: '../../assets/icon/Erudita de Aretusa by Grafit Studio.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Ahumadlos" src="https://gwent.one/img/assets/medium/art/2225.jpg">
    <ion-card-header>
      <ion-card-title>Ahumadlos</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Ahumadlos', precio: '200', faccion: 'Reino del Norte', habilidad: 'Generar', imagen: 'https://gwent.one/img/assets/medium/art/2225.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Infanteria de Tridam" src="../../assets/icon/Infantería de Tridam by Grafit Studio.jpg">
    <ion-card-header>
      <ion-card-title>Infanteria de Tridam</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Infanteria de Tridam', precio: '900', faccion: 'Reino del Norte', habilidad: 'potencia y ataque', imagen: '../../assets/icon/Infantería de Tridam by Grafit Studio.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Triss Merigold" src="../../assets/icon/Triss Merigold by Marek Madej.jpg">
    <ion-card-header>
      <ion-card-title>Triss Merigold</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Triss Merigold', precio: '500', faccion: 'Reino del Norte', habilidad: 'Despliegue', imagen: '../../assets/icon/Triss Merigold by Marek Madej.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Ciri" src="../../assets/icon/Ciri_ Nova by Lorenzo Mastroianni.jpg">
    <ion-card-header>
      <ion-card-title>Ciri</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Ciri', precio: '1100', faccion: 'Reino del Norte', habilidad: 'paciencia', imagen: '../../assets/icon/Ciri_ Nova by Lorenzo Mastroianni.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <img alt="Estudiante de Aretusa" src="https://gwent.one/img/assets/medium/art/3369.jpg">
    <ion-card-header>
      <ion-card-title>Estudiante de Aretusa</ion-card-title>
      <ion-card-subtitle>Reino del Norte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="medium" expand="full" [routerLink]="['/query']" [queryParams]="{nombre: 'Estudiante de Aretusa', precio: '1100', faccion: 'Reino del Norte', habilidad: 'paciencia', imagen: 'https://gwent.one/img/assets/medium/art/3369.jpg'}" >Informacion</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
